// Colors
// ======
// @LandonSchropp's approach of naming color variables.
// - http://davidwalsh.name/sass-color-variables-dont-suck
// - http://www.color-blindness.com/color-name-hue/

// General colors palette
$colors: (
  transparent: transparent,
  white-smoke: #f2f2f2,
  gainsboro: #e0e0e0,
  silver: #bdbdbd,
  gray: #828282,
  suva-gray: #8e8e8e,
  matterhorn: #4f4f4f,
  burnt-sienna: #eb5757,
  buccaneer: #755,
  forest-green: #308c14,
  puerto-rico: #4dba87,
  mine-shaft: #333,
  green-grass: #8BBA62,
  dark-grass: #00524C,
  b2c-blue:  #D5EFFE,
  // RSHB

  // primary
  green1: #248341,
  orange: #FF881B,
  red: #F23030,
  black: #1c1c1c,
  white: #FFFFFF,
  yellow: #FFCB05,
  yellow2: #FAD30A,

  // secondary
  blue-light: #E5F1FF,
  blue-light2: #CAE8FB,
  blue-light3: #AFDAFD,
  green-light: #E2F6E2,
  orange-light: #FDF1E5,
  gray900: #585757,
  gray800: #969696,
  gray700: #EEEEEE,
  gray650: #E1E1E1,
  gray600: #F5F5F5,

  // style
  style-blue: #E1F3F7,
);

// Theme generic colors
// Key: name of color
// Value: color value or map with default, hover, focus color values
$colors-theme: (
  primary: (
    default: map-get($colors, matterhorn),
    hover: map-get($colors, matterhorn)
  ),
  secondary: (
    default: map-get($colors, gray),
    hover: map-get($colors, matterhorn),
  ),
  accent: (
    default: map-get($colors, matterhorn),
    hover: map-get($colors, black),
  ),
  tertiary: map-get($colors, silver),
  success: map-get($colors, puerto-rico),
  warning: map-get($colors, buccaneer),
  error: map-get($colors, burnt-sienna)
);

$colors-border: (
  primary: map-get($colors, silver),
  secondary: map-get($colors, gainsboro),
);

$colors-background: (
  primary: (
    default: map-get($colors, white),
    hover: map-get($colors, silver)
  ),
  secondary: (
    default: map-get($colors, white-smoke),
    hover: map-get($colors, gainsboro)
  ),
  tertiary: map-get($colors, suva-gray)
);
