html, body {
  margin: 0;
  padding: 0;
  overflow-y: overlay;
  @-moz-document url-prefix() {
    overflow-y: auto;
    margin-right: calc(100% - 100vw);
  }
}

a {
  color: #333;
  position: relative;
}

p {
  .no-indent & {
    margin-bottom: 0;
    margin-top: 0;
  }
}

#app {
  @extend %ff-primary;
  overflow-x: hidden;
}

#viewport {
  overflow: hidden;
  height: 100%;
}

.muted {
  color: #76787D;
}
