@import "../variables/typography";

@import "/src/styles/variables/grid";
@import '/src/styles/variables/colors';
@import '/src/styles/helpers/functions/color';

.icon-box {
  margin: 0 16px;
  .v-icon {
    font-size: 21px;
    transition: none;
    @media #{$media-md}, #{$media-sm} {
      font-size: 14px;
    }
  }
  &:hover {
    .v-icon, span {
      color: color(green2) !important;
    }
  }
  @media #{$media-md}, #{$media-sm} {
    margin-right: 0;
    height: 34px;
    max-width: 34px;
    min-width: 34px;
    border-radius: 50%;
    border: 1px solid color(gray800);
  }
}
